@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

table {
    border-collapse: collapse;
}

table, th, td {
    font-size: 1em;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #FF0099;
    color: #ffffff;
}

a:link {
    color: #6A6AFF;
    text-decoration: none;
}

a:visited {
    color: #9669FE;
    text-decoration: none;
}

a:hover {
    color: #6A6AFF;
    text-decoration: underline;
}

a:active {
    color: #6A6AFF;
}

table.nav, th.nav, td.nav {
    font-size: 1em;
    border: none;
    padding: 3px 7px 2px 7px;
    background-color: #FFC8E3;
    color: #ffffff;
    border-collapse: collapse;
}
